<!--Home-Section-->
<section id="home" class="parallax-home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7  text-ff">
                <div class="wrap-text">
                    <h3>What we do ?</h3>
                    <!--Welcome-Client-->
                    <h1 class="welcome-client">Welcome to <span>global lawyer</span></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit mollis mauris, nec
                        ullamcorper leo congue et. Nunc vulputate, felis sed dictum sagittis, lorem enim auctor diam, ac
                        laoreet tortor ipsum ac sem.</p>
                    <button class="btn btn-default get-start">get started</button>
                </div>
                <!--/Welcome-Client-->
            </div>
            <!--Left-Col-->

            <div class="col-md-12 col-lg-5">
                <form class="align-self-start">
                    <div class="form-box">
                        <h3 class="form-text">Get your estimate</h3>
                        <div class="form-row">
                            <input type="text" class="form-control" placeholder="Your Full Name *">
                        </div>
                        <div class="form-row">
                            <input type="email" class="form-control" placeholder="Your Email *">
                        </div>
                        <div class="form-row">
                            <input type="text" class="form-control" placeholder="Your Phone *">
                        </div>
                        <div class="form-row">
                            <input type="text" class="form-control" placeholder="Your Full Name *">
                        </div>
                        <div class="form-row">
                            <textarea class="form-control" placeholder="Message. . ."></textarea>
                        </div>
                        <div class="btn-sub text-center ">
                            <button class="btn btn-default get-quote-now">submit now</button>
                            <!-- <input class="estimate-submit" type="submit" name="" class="btn btn-default w-100" value="submit now"> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--/Row-->
    </div>
    <!--/Container-->
</section>
<!--/Home-Section-->