<!--Practice-Section-->
<section id="practice">
    <div class="section-title">
        <h3>Practice <span class="red">Areas</span></h3>
        <p class="centered-info d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet,
            massa ac ornare feugiat, nunc dui auctor ipsum, sed posuere eros sapien id quam.</p>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4  mb-3">
                <div class="card shadow" style="width: 100%;">
                    <div class="service-thumb">
                        <div class="thumb-img">
                            <img class="card-img-top text-center" src="assets/img/practice/div.jpeg" alt=""
                                style=" height: 200px;">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center practice-title">Divorce Law</h5>
                        <p class="card-text text-center practice-info d-mode-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit pellentesque..</p>
                    </div>
                </div>
            </div>
            <!--/Col-1-->

            <div class="col-md-6 col-lg-4  mb-3">
                <div class="card shadow" style="width: 100%;">
                    <div class="service-thumb">
                        <div class="thumb-img">
                            <img class="card-img-top text-center" src="assets/img/practice/litigation.jpg" alt=""
                                style=" height: 200px;">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center practice-title">litigation</h5>
                        <p class="card-text text-center practice-info d-mode-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit pellentesque..</p>
                    </div>
                </div>
            </div>
            <!--/Col-2-->


            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card shadow" style="width: 100%;">
                    <div class="service-thumb">
                        <div class="thumb-img">
                            <img class="card-img-top text-center" src="assets/img/practice/accident.jpg" alt=""
                                style=" height: 200px;">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center practice-title">accident Law</h5>
                        <p class="card-text text-center practice-info d-mode-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit pellentesque..</p>
                    </div>
                </div>
            </div>
            <!--/Col-3-->



            <div class="col-md-6 col-lg-4  mb-3">
                <div class="card shadow" style="width: 100%;">
                    <div class="service-thumb">
                        <div class="thumb-img">
                            <img class="card-img-top text-center" src="assets/img/practice/drug.jpg" alt=""
                                style=" height: 200px;">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center practice-title">drug Law</h5>
                        <p class="card-text text-center practice-info d-mode-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit pellentesque..</p>
                    </div>
                </div>
            </div>
            <!--/Col-4-->


            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card shadow" style="width: 100%;">
                    <div class="service-thumb">
                        <div class="thumb-img">
                            <img class="card-img-top text-center" src="assets/img/practice/law.jpg" alt=""
                                style=" height: 200px;">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center practice-title">personal Law</h5>
                        <p class="card-text text-center practice-info d-mode-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit pellentesque..</p>
                    </div>
                </div>
            </div>
            <!--/Col-5-->

            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card shadow" style="width: 100%;">
                    <div class="service-thumb">
                        <div class="thumb-img">
                            <img class="card-img-top text-center" src="assets/img/practice/criminal.jpg" alt=""
                                style=" height: 200px;">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center practice-title">criminal Law</h5>
                        <p class="card-text text-center practice-info d-mode-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit pellentesque..</p>
                    </div>
                </div>
            </div>
            <!--/Col-6-->



        </div>
        <!--/Row-->
    </div>
    <!--/Container-->
</section>
<!--/Practice-Section-->