/*********************
FOOTER
**********************/
#footer{
background-color: #f4f4f4;
padding:70px 0;
}

.author{
text-align: center
}
.author h3 {
font-family: 'Poppins', sans-serif;
font-size: 20px;
margin-bottom:0px;
}
.author p{
margin: 0;
font-family: 'Poppins', sans-serif;
}