<!--Pricing-Section-->
<section id="pricing">
    <div class="section-title">
        <h3>our <span class="red">packages</span></h3>
        <p class="centered-info d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="container">
        <ul class="row pricing-listing">
            <li class="col-md-6 col-lg-4">
                <div class="package-detail">
                    <h3 class="text-center">Basic</h3>
                    <div class="package-price text-center">
                        <strong class="d-mode-text">$67</strong>
                        <span class="d-mode-text">Per month</span>
                    </div>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <div class="book-now text-center">
                        <a href="#" class="buy-now">Buy now</a>
                    </div>
                </div>
            </li>
            <!--Pack-1-->

            <li class="col-md-6 col-lg-4">
                <div class="package-detail">
                    <h3 class="text-center">Corporate</h3>
                    <div class="package-price text-center">
                        <strong class="d-mode-text">$247</strong>
                        <span class="d-mode-text">Per month</span>
                    </div>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <div class="book-now text-center">
                        <a href="#" class="buy-now">Buy now</a>
                    </div>
                </div>
            </li>
            <!--Pack-2-->

            <li class="col-md-6 col-lg-4">
                <div class="package-detail">
                    <h3 class="text-center">Premium</h3>
                    <div class="package-price text-center">
                        <strong class="d-mode-text">$400</strong>
                        <span class="d-mode-text">Per month</span>
                    </div>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <p class="d-mode-text">Lorem Ipsum </p>
                    <div class="book-now text-center">
                        <a href="#" class="buy-now">Buy now</a>
                    </div>
                </div>
            </li>
            <!--Pack-3-->

        </ul>
        <!--/UL-Row-->
    </div>
    <!--/Container-->
</section>
<!--/Pricing-Section-->