/*********************
PRICING
**********************/
#pricing{
padding: 70px 0;
background-color: #f0f0f0;
}
#pricing .section-title{
text-align: center;
padding-bottom: 15px;
margin: 0;
}
#pricing .section-title h3{
position: relative;
font-size: 34px;
margin-bottom: 50px;
text-transform: uppercase;
font-weight: 700;
line-height: 34px;
/*font-family: 'Ubuntu', sans-serif;*/
}
#pricing .section-title h3:after{
content: '';
background:
#ff0000;
height: 2px;
width: 60px;
position: absolute;
bottom: -30px;
left: 50%;
margin-left: -30px;
}

.pricing-listing{
list-style-type: none;
margin:0;
padding: 0;
}
.package-detail{
background:#fff;
padding: 40px 20px;
border-radius: 10px;
box-shadow: 3px 2px 11px -1px #ccc;
}
.package-detail h3 {
font-family: 'Poppins', sans-serif;
}
.package-price{
margin-bottom: 20px;
}
.package-price strong{
font-size: 48px;
color:#ff0000;
display: block;
font-family: 'Poppins', sans-serif;
}
.package-price span {
display: block;
color: #888;
font-family: 'Poppins', sans-serif;
}
.package-detail p{
text-align: center;
color: #777;
letter-spacing: 0;
border-top: 1px solid#eee;
font-size: 14px;
padding-top: 5px;
margin-top: 5px;
text-transform: uppercase;
}
.book-now{
margin-top: 30px;

}
.buy-now{
background:#ff0000;
color:#fff;
text-transform: uppercase;
font-size: 16px;
font-weight: 600;
padding: 10px 20px;
display: inline-block;
border-radius: 4px;
text-decoration:none !important;
transition: .4s;
font-family: 'Poppins', sans-serif;
}
.book-now a:hover{
background:#333;
color:#fff;

}