<!--About-Section-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5">
                <img src="assets/img/about-work.jpg" class="img-fluid">
            </div>
            <!--/Left-Col-->

            <div class="col-md-12 col-lg-7">
                <div class="content">
                    <!--Title-->
                    <div class="section-title">
                        <h3>Welcome to global <span class="red">lawyer</span></h3>
                        <p class="d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet,
                            massa ac ornare feugiat, nunc dui auctor ipsum, sed posuere eros sapien id quam.</p>
                    </div>
                    <!--/Title-->
                    <div class="rights-list">
                        <ul>
                            <li class="mb-4">
                                <div class="rights-box">
                                    <div class="rights-icon">
                                        <i class="fa fa-university d-mode-text"></i>
                                    </div>
                                </div>

                                <h4 class="rights-title d-mode-text">Protect Your Rights</h4>
                                <p class="rights-detail d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit, sed do eiusmod tempor incidid ut labore</p>
                            </li>
                            <li class="mb-4">
                                <div class="rights-box">
                                    <div class="rights-icon">
                                        <i class="fa fa-hospital-o d-mode-text"></i>
                                    </div>
                                </div>
                                <h4 class="rights-title d-mode-text">Medical Treatment</h4>
                                <p class="rights-detail d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit, sed do eiusmod tempor incidid ut labore</p>
                            </li>
                            <li class="mb-4">
                                <div class="rights-box">
                                    <div class="rights-icon">
                                        <i class="fa fa-male d-mode-text"></i>
                                    </div>
                                </div>
                                <h4 class="rights-title d-mode-text">We Fight for Justice</h4>
                                <p class="rights-detail d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit, sed do eiusmod tempor incidid ut labore</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/Right-Col-->
        </div>
        <!--/Row-->
    </div>
    <!--/Container-->
</section>
<!--/About-Section-->