<!--Counter-Section-->
<section id="counter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 counter-item">
                <div class="counter-box">
                    <div class="counter-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <span class="iteration-text">trusted client</span>
                    <span class="iteration">999</span>

                </div>
            </div>
            <!--/Col-1-->
            <div class="col-md-6 col-lg-3 counter-item">
                <div class="counter-box">
                    <div class="counter-icon">
                        <i class="fa fa-university"></i>
                    </div>
                    <span class="iteration-text">success cases</span>
                    <span class="iteration">1500</span>

                </div>
            </div>
            <!--/Col-2-->
            <div class="col-md-6 col-lg-3 counter-item">
                <div class="counter-box">
                    <div class="counter-icon">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <span class="iteration-text">case study</span>
                    <span class="iteration">1756</span>

                </div>
            </div>
            <!--/Col-3-->
            <div class="col-md-6 col-lg-3 counter-item">
                <div class="counter-box">
                    <div class="counter-icon">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <span class="iteration-text">awards</span>
                    <span class="iteration">200</span>

                </div>
            </div>
            <!--/Col-4-->
        </div>
        <!--Row-->
    </div>
    <!--/Container-->
</section>
<!--/Counter-Section-->