/*********************
COUNTER
**********************/
#counter{
padding: 50px 0;
background:
#000 url(src/assets/img/counter-bg.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 300px;
top: 50%;
}
.counter-box{
border: 3px solid #fff;
border-radius: 90px 5px;
padding: 20px;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
text-align: center;
cursor: pointer;
}
.counter-box:hover{
transform: scale(1.1);
border-radius: 10px;
}
.counter-icon{
font-size: 60px;
margin-bottom: 8px;
color:#fff;
}
.iteration{
display: block;
color:#fff;
font-size: 60px;
line-height: 60px;
font-weight: 400;
}
.iteration-text{
color:#fff;
font-weight: bold;
font-family: 'Poppins', sans-serif;
text-transform: capitalize;
letter-spacing: 1px;
}
