<!--Our-Team-Section-->
<section id="our-team">
    <div class="section-title">
        <h3>our Attorneys <span class="red">team</span></h3>
        <p class="centered-info d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-3">
                <div class="team-member">
                    <div class="team-mem-img-thumb">
                        <img src="assets/img/team-1.jpg" class="img-fluid">
                    </div>
                    <h4>Alex</h4>
                    <span class="position">Personal Lawyer</span>
                    <ul class="social mb-3">
                        <li>
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/Team-Member-->
            </div>
            <!--/Col-1-->

            <div class="col-md-6 col-lg-3">
                <div class="team-member">
                    <div class="team-mem-img-thumb">
                        <img src="assets/img/team-2.jpg" class="img-fluid">
                    </div>
                    <h4>julia</h4>
                    <span class="position">Personal Lawyer</span>
                    <ul class="social mb-3">
                        <li>
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/Team-Member-->
            </div>
            <!--/Col-2-->

            <div class="col-md-6 col-lg-3">
                <div class="team-member">
                    <div class="team-mem-img-thumb">
                        <img src="assets/img/team-3.jpg" class="img-fluid">
                    </div>
                    <h4>jane</h4>
                    <span class="position">Personal Lawyer</span>
                    <ul class="social mb-3">
                        <li>
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/Team-Member-->
            </div>
            <!--/Col-3-->

            <div class="col-md-6 col-lg-3">
                <div class="team-member">
                    <div class="team-mem-img-thumb">
                        <img src="assets/img/team-4.jpg" class="img-fluid">
                    </div>
                    <h4>maria</h4>
                    <span class="position">Personal Lawyer</span>
                    <ul class="social mb-3">
                        <li>
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/Team-Member-->
            </div>
            <!--/Col-4-->

        </div>
        <!--/Row-->
    </div>
    <!--/Container-->
</section>
<!--/Our-Team-Section-->