<!--Our-Services-Section-->
<section id="our-services">
    <div class="section-title">
        <h3>our <span class="red">Services</span></h3>
        <p class="centered-info d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet,
            massa ac ornare feugiat, nunc dui auctor ipsum, sed posuere eros sapien id quam.</p>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4">
                <div class="our-service-thumb">
                    <div class="thumb-icon">
                        <i class="fa fa-car d-mode-text"></i>
                    </div>
                    <h4 class="d-mode-text">car accident</h4>
                    <p class="d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque.</p>
                </div>
            </div>
            <!--/Col-1-->

            <div class="col-md-6 col-lg-4">
                <div class="our-service-thumb">
                    <div class="thumb-icon">
                        <i class="fa fa-shield d-mode-text"></i>
                    </div>
                    <h4 class="d-mode-text">security law</h4>
                    <p class="d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque.</p>
                </div>
            </div>
            <!--/Col-2-->

            <div class="col-md-6 col-lg-4">
                <div class="our-service-thumb">
                    <div class="thumb-icon">
                        <i class="fa fa-medkit d-mode-text"></i>
                    </div>
                    <h4 class="d-mode-text">injury</h4>
                    <p class="d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque.</p>
                </div>
            </div>
            <!--/Col-3-->

            <div class="col-md-6 col-lg-4">
                <div class="our-service-thumb">
                    <div class="thumb-icon">
                        <i class="fa fa-male d-mode-text"></i>
                    </div>
                    <h4 class="d-mode-text">criminal defence</h4>
                    <p class="d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque.</p>
                </div>
            </div>
            <!--/Col-4-->

            <div class="col-md-6 col-lg-4">
                <div class="our-service-thumb">
                    <div class="thumb-icon">
                        <i class="fa fa-book d-mode-text"></i>
                    </div>
                    <h4 class="d-mode-text">taxation</h4>
                    <p class="d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque.</p>
                </div>
            </div>
            <!--/Col-5-->

            <div class="col-md-6 col-lg-4">
                <div class="our-service-thumb">
                    <div class="thumb-icon">
                        <i class="fa fa-motorcycle d-mode-text"></i>
                    </div>
                    <h4 class="d-mode-text">bike accident</h4>
                    <p class="d-mode-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque.</p>
                </div>
            </div>
            <!--/Col-6-->

        </div>
        <!--/Row-->
    </div>
    <!--/Container-->
</section>
<!--/Our-Services-Section-->