<!--Call-Today-Section-->
<section id="calltoday">
    <div class="container">
        <div class="tag-lines">
            <h2>Call Today For A FREE Consultation</h2>
            <h3>+92 (315) 5123827</h3>
            <p>Sed sed neque laoreet, rhoncus libero id, pharetra est. Sed ut neque est. Maecenas et est sagittis,
                mollis risus dignissim, mattis dolor. </p>
            <a href="#"><i class="fa fa-mobile mr-2"></i> Contact us now</a>
        </div>
    </div>
    <!--/Container-->
</section>
<!--/Call-Today-Section-->